<!DOCTYPE html>

  <h1><b> Sign Up </b></h1>
  <hr>
  <form action="/signup" method="POST">
  <input type="text" class="form-control input-sm chat-input" name="username" placeholder="Username:" />
  </br>
  <input type="email" class="form-control input-sm chat-input" name="email" placeholder="Email:">
  </br>
  <input type="password" class="form-control input-sm chat-input" name="password" placeholder="Password:">
  </br>

  <div class="wrapper">
    <span class="group-btn">
    <input type="submit" value="Sign Up" class="btn btn-primary btn-md">
  </div>

</html>
