<!DOCTYPE html>
  <h1> New Review</h1>
  <div class="products-form-popup">
    <form action="includes/send_review_mail.php" method="post" _lpchecked="1">
        <input type="hidden" name="star-rating" value="5" id="star-rating">
        <div class="pro-pop-input">
            <label>Review Title</label>
            <input type="text" name="review-title">
            <span class="error"></span>
        </div>
        <div class="pro-pop-input">
            <label>Review</label>
            <textarea name="review-text" id="review-text"></textarea>
            <span class="error"></span>
        </div>
        <div id="buttons">
            <div class="pro-pop-btn">
                <input type="button" name="submit-review" value="Submit Review">
                <a href="#" class="no-thanks">No Thanks</a>
            </div>
        </div>
    </form>
</div>
</html>
