<!DOCTYPE html>
  <div class="container">
      <div class="col-md-3 col-sm-3 col-xs-6"> <a href="/signup" class="btn btn-sm animated-button victoria-one">Sign up</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a href="/login" class="btn btn-sm animated-button victoria-two">Login</a> </div>
  </div>


</html>
