<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <meta charset="utf-8">
    <title>Food Star</title>
  </head>
  <body>
    <div class="header">
      <h4 class = "welcome_heading">Welcome to Food Star!</h4>
    </div>

        <%=yield%>
  </body>
</html>
