<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <meta charset="utf-8">
    <title>Food Star</title>
  </head>
  <body>
      <div class='mini-container'>
        <div class="header">
        </div>
        <%=yield%>
      </div>
  </body>
</html>
